<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/account/register" method="POST">
        <input type="name" name="name" placeholder="Enter name">   
        <input type="email" name="email" placeholder="Enter email"> 
        <input type="password" name="password" placeholder="Enter password">    
        <input type="password" name="password2" placeholder="Confirm password">
        <button type="submit">Register</button>    
    </form>
    <p>Have an account?</p>
    <a href="./login" class="login">Login</a>
</body>
</html>